<script setup lang="ts">
import { defineProps, defineEmits } from "vue";
import ShopProduct from "@/components/Shop/ShopProduct.vue";
import type { ProductInterface } from "@/interfaces/Product.interface";

defineProps<{
  products: ProductInterface[];
}>();

const emit = defineEmits<{
  (e: "addProductToCart", productId: number): void;
}>();
</script>

<template>
  <div class="grid p-20">
    <ShopProduct
      v-for="product of products"
      :key="product.id"
      :product="product"
      @add-product-to-cart="emit('addProductToCart', $event)"
    />
  </div>
</template>

<style lang="scss" scoped>
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 20px;
}
</style>
